*{
	padding: 20px;
	margin: 0px;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
.principal{
	width: 14,173.2rem;
	height:166.7rem;
	
	
	border-radius: 75px;
	display: flex;
	flex-direction: column;
	background-color: #8ff4c7;
}
.circulo{
    width: 13.5rem;
	height: 13.5rem;
	background-color:#ffff;
	border-radius: 100%;
	
	margin-top: 6rem;
	margin-left: 6rem;
	align-self:flex-start;
}
.cuadro1{
    width: 75rem;
	height: 15rem;
	background-color:#ffff;
	border-radius: 75px;
	
	margin-top: 120rem;
	margin-left: 6rem;
	margin-right: 6rem;
	align-self:center;
}