*{
	padding: 0px;
	margin: 0px;
}
.CajaDeMisEmojis{
    width: 90rem;
    height: auto;
    margin: auto;
    padding: 1rem;
	padding-top: 20rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.CajaDeMisEmojis div{
    width: 30rem;
    height: 30rem;
    box-sizing: border-box;
    background-color:#5DCEA3;
    margin: 3rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
	margin: auto;
	margin-bottom: 6rem;
	border-radius: 4rem;  
}
.CajaDeMisEmojis .azul{
	background-color: #001737;
}
